.body {
  background: rgb(2, 0, 36);
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 0%,
    rgba(10, 175, 54, 1) 0%,
    rgba(0, 212, 255, 1) 100%
  );
}

.body__grid {
  background: #c4dfd0;
}

.footer {
  background: navy;
  color: whitesmoke;
  border: #fff 2px solid;
  border-radius: 3px;
  margin: 5px;
}

.grid {
  display: grid;
  grid-template-areas: "grid__header grid__header"
  "grid__article grid__aside"
  "grid__footer grid__footer";
  grid-template-columns: 1fr 200px;
  column-gap: 10px;
  row-gap: 10px;
}

.grid__header {
  grid-area: grid__header;
  padding: 10px;
}

.grid__article {
  grid-area: grid__article;
  padding: 10px;
}

.grid__aside {

  grid-area: grid__aside;
  padding: 10px;
}

.grid__border {
  border: rgb(170, 0, 0) 4px solid;
  margin: 5px;
  border-radius: 5px;
  padding: 10px;
}

.grid__content {
  color: rgb(209, 76, 76);
}

.grid__footer {
  grid-area: grid__footer;
  padding: 10px;
}

.main {
  width: 600px;
  border: rgb(0, 0, 0) 5px solid;
  border-radius: 10px;
  padding: 20px;
  margin: 0 auto;
  text-align: center;
}

.main__header {
}

.main__link {
  color: #000000;
}

.main__title {
  color: #0c6b6b;
}

.main__picture {
  border: rgb(19, 0, 192) 5px solid;
  border-radius: 20px;
}

.navigation-center {
  margin: 10px;
  border: tomato 3px solid;
  border-radius: 7px;
  background: tomato;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.navigation-center__link--grid {
  text-decoration: none;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.navigation-center__link {
  color: black;
  border: #fff 3px solid;
  border-radius: 5px;
  padding: 5px;
  background: #fff;
  max-width: 200px;
  margin: 10px;
  min-width: 150px;
  display: flex;
  justify-content: center;
  align-content: center;
}

.navigation-center__link--homepage {
  color: #cf0000;
}

.section {
  background: #ffffff;
  border: #482837 3px solid;
  border-radius: 10px;

  margin: 15px;
}

.section__article {
  background: navajowhite;
}

.section__article--description {
  background: orangered;
}

.section__article--title {
  background: orange;
}

.section__title {
  background: tomato;
}

@media screen and (max-width: 768px){
  .body {
    background: hotpink;
  }
  
}
